





<div class="breadcrumb">
    <h3 class="text-center text-success">TẠO ĐƠN HÀNG</h3>
</div>
<div class="breadcrumb">
    <button type="button" class="btn btn-sm btn-primary">Lưu</button>
    <button type="button" class="btn btn-default btn-sm ">Bỏ qua</button>
</div>
<div class="container">

</div>
<div class="" ng-controller="OrderFormController as vm">
    <div class="form-group form-inline col-md-12">
        <h3 class="text-primary">Khách hàng:</h3>
        <select class="form-control">
            <option value="" disabled selected hidden>Chọn khách hàng...</option>
            <option value="value" ng-repeat="item in vm.customers" class="text-warning">{{item.Name}} ({{item.Phone}})</option>
        </select>
        <div>
            datetimepicker
        </div>
    </div>
   


</div>

