@{ Layout = null;}
<style>
    th {
        text-align: center;
    }

    .mg-b-10 {
        margin-bottom: 10px;
    }
</style>
<div class="container-fluid">

    <div class="breadcrumb">
        <h3 class="text-success">Danh sách khách hàng</h3>
    </div>

    <div ng-controller="ListCustomer as vm">
        <form class="form-group form-inline search pull-right">
                <div>
                    <input type="text" name="txtSearch" placeholder="Tìm kiếm..." ng-model="vm.k" class="form-control input-sm" ng-blur="vm.search()" ng-keydown="$event.keyCode === 13 && vm.search()" />
                    <button type="button" ng-click="vm.search()" class="btn-sm btn btn-primary">Tìm </button>
                </div>
            </form>
            <button class="btn btn-sm btn-success mg-b-10" ng-click="vm.add()">Thêm</button>

            <table class="table table-striped table-bordered table-hover  text-center ">
                <tr>
                    <th ng-click="vm.sortBy('Name',vm.reverse)">Tên khách hàng: <i class="fas fa-sort"></i></th>
                    <th ng-click="vm.sortBy('Email',vm.reverse)">Email <i class="fas fa-sort"></i></th>
                    <th ng-click="vm.sortBy('Address',vm.reverse)">Địa chỉ <i class="fas fa-sort"></i></th>
                    <th ng-click="vm.sortBy('Phone',vm.reverse)">Số điện thoại <i class="fas fa-sort"></i></th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in vm.customers|orderBy:vm.sortColumn:vm.reverse">
                    <td>{{item.Name}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Address}}</td>
                    <td>{{item.Phone}}</td>
                    <td>
                        <button type="button" ng-click="vm.edit(item)" class="btn btn-sm btn-warning">Sửa</button>
                        <button type="button" ng-click="vm.remove(item)" class="btn btn-sm btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr ng-if="!vm.customers||(vm.customers).length==0">
                    <td colspan="6" class="text-center text-danger">
                        Không có dữ liệu!
                    </td>
                </tr>
            </table>



            <div class="row">
                <div class="col-md-10">
                    <ul uib-pagination total-items="vm.total" ng-model="vm.currentPage" max-size="5" items-per-page="vm.itemsPerPage" class="pagination-sm" ng-change="vm.onChangePagination()" num-pages="numPages"></ul>
                </div>
                <div class="col-md-2 form-group-sm pull-right" style="padding:20px;">
                    <div class="breadcrumb small">Total record: {{vm.total}}</div>
                </div>
            </div>


    </div>
</div>