@{
    Layout = null;
}
<div class="container-fluid">
    <div class="row" style="border:1px solid;padding:50px;margin-bottom:10px;">


        <div class="col-md-4">
            <div class="form-group">
                <label>PREFIX</label>
                <input class="form-control" type="text" name="prefix" />
            </div>
        </div>
        <div class="col-md-4">
            <label>Format date</label>
            <input class="form-control" type="text" name="prefix" />
        </div>
        <div class="col-md-4">
            <label>Number of zero in number</label>
            <input class="form-control" type="text" name="prefix" />
        </div>


    </div>
    <div class="row" style="border:1px solid;padding:50px;margin-bottom:10px;">


        <div class="col-md-4">
            <div class="form-group">
                <label>PREFIX</label>
                <input class="form-control" type="text" name="prefix" />
            </div>
        </div>
        <div class="col-md-4">
            <label>Format date</label>
            <input class="form-control" type="text" name="prefix" />
        </div>
        <div class="col-md-4">
            <label>Number of zero in number</label>
            <input class="form-control" type="text" name="prefix" />
        </div>


    </div> <div class="row" style="border:1px solid;padding:50px;margin-bottom:10px;">


        <div class="col-md-4">
            <div class="form-group">
                <label>PREFIX</label>
                <input class="form-control" type="text" name="prefix" />
            </div>
        </div>
        <div class="col-md-4">
            <label>Format date</label>
            <input class="form-control" type="text" name="prefix" />
        </div>
        <div class="col-md-4">
            <label>Number of zero in number</label>
            <input class="form-control" type="text" name="prefix" />
        </div>


    </div>
           <div class="form-group">
               <button class="btn btn-success">
                   Luu
               </button>
           </div>
</div>
