@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-info">
    <h3>Liên hệ</h3>
    <div class="col-md-4">
        Email
    </div>
    <div class="col-md-4">
        btkt.1412@gmail.com
    </div>
</div>