@{
    Layout = null;
}
    <div class="container-fluid" style="background-image:url(../../Content/Images/banner.jpg);height:800px;">
        <h1 style="color:white;font-size:50px; position:absolute;top:40%;left:30%" >Welcome to ADMIN DASHBOARD!</h1>
    </div>